* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background-color: #F2EDE6;
    display: grid;
}


.bookinventory {
    display: grid;
    grid-template-columns: auto auto auto;  
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar booklist addBook";
    align-items: center;

    &__sidebar-text {
        text-align: center;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        color: #0D054C;
        transform: rotate(-90deg);
        position: relative;
        grid-area: sidebar;
    }

    &__booklist {
        margin-left: 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 25px 25px 25px 25px;
        grid-area: booklist;

        &__image {
            width: 75px;
            height: 100px;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            grid-gap: 2px;
        }

        &__items {
            list-style-type: none;
            display: grid;
        }

       &__title {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            color: #0D054C;
            
        }

       &__author {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            font-size: 12px;

        }

        &__stock {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            font-size: 10px;
            background-color: green;
            color: white;
            width: fit-content;
            border-radius: 25px;
            padding: 5px 10px;
            align-content: center;
            justify-content: center;
            margin-top: 0;

        }

        &__price {
            grid-column: 2 / 3; 
            grid-row: 4 / 5;
            color: #0D054C;
            font-size: 16px;
            font-weight: bolder;
            padding-top: 10px;
           
        }

        &__garbage{
            grid-column: 3 / 4;
            grid-row: 1 / 5;
            font-size: 24px;
            background-color: #F2EDE6;
            border: none;
            cursor: pointer;
            align-content: center;
            padding-right: 25px;
        }

    }


    &__addBook {
        padding: 75px;
        grid-area: addBook; 
        justify-content: center;
        position: relative;
        align-items: center;
        border-left: 1px solid #0D054C;
        
   
        &__input {
            border: none;
            height: 40px;
            width: 250px;
            border-bottom: 2px solid #0D054C;
            padding: 0;
            background-color: #F2EDE6;
            margin-left: auto;
            margin-right: auto;
            display: block;

            &::placeholder {
                padding-bottom: 4px;
                font-size: 12px;
                background-color: #F2EDE6;
            }
        }

    &__button {
        margin-top: 20px;
        height: 40px;
        width: 200px;
        color: white;
        background-color: #0D054C;
        border-radius: 20px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
        cursor: pointer;
        }

        &__error-messages {
            grid-area: addBook; 
            padding: 20px;
            color: red; 
            font-size: 14px; 
        }
    }
}